body {
    background-color: #e6e6e6;
}

div p{
    font-style: italic;
}

h1{
    margin: 0px;
}
.profile-pic {
  border: 1px solid black;
  border-radius: 4px;
  margin: 48px;
  width: 250px;
  transform: rotate(90deg);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tagline{
    font-weight: bold;
}

.list{
    list-style-type:none; 
    display:-webkit-inline-flex; 
}

.no-padding{
    padding="0px";
}

img{
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background-color:white;
    margin: 4px;
    width: 200px;
    height: 200px;
  } 
  
  .container {
    padding: 2px 16px;
  }
