@font-face {
  font-family: "open_sansregular";
  src: url("OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body * {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 70%;
}

.menu-button {
  height: 48px;
  width: 48px;
  margin-left: 8px;
  background-color: none;
  border: 1px solid black;
  border-radius: 4px;
  color: #090909;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: "open_sansregular";
}

.menu-button:hover {
  background-color: gray;
  color: white;
  border-radius: 4px;
}

.tag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-left: 12px;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #343434;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.target-2 {
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 125%;
  margin-bottom: 0px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  padding: 2px 16px;
  text-decoration: none;
}

.card {
  background-color: white;
  /* width: 400px; */
  height: 300px;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* transition: 0.3s; */
  /* opacity: 0.7; */
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  opacity: 2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.linkedin {
  width: 32px;
  height: 24px;
  margin-right: 2px;
}

.gmail {
  width: 24px;
  height: 24px;
  margin-left: 2px;
}

.card-text {
  position: relative;
  height: auto;
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 1px;
  text-align: justify;
  font-family: arial;
  color: black;
  text-decoration: none;
  font-style: normal;
}

.avatar {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

a {
  position: relative;
  height: auto;
  margin: 0px;
  text-align: justify;
  font-family: arial;
  text-decoration: none;
}
