body {
    background-color: #e6e6e6;
}
img {
    border: 1px solid black;
  border-radius: 4px;
  padding: 0px;
  margin: 24px;
  /* margin-bottom: 100px; */
  width: 250px;
  transform: rotate(90deg);
  box-shadow: 2px 5px #aaaaaa;

}
.tagline{
    font-style: italic;
}
    
}
.ux-folio-link{
    text-decoration: none;
    color: blue
}

.linkedin-link{
    text-decoration: none;
    color: blue;
}

.email-link{
    text-decoration: none;
    color: blue;
}

.case-studies{
    text-decoration: underline;
    margin: 0px;

.no-line-break{
    margin: 0px;
}