body {
    background-color: #e6e6e6;
}
.profile-pic {
    border: 1px solid black;
  border-radius: 4px;
  padding: 0px;
  margin: 24px;
  /* margin-bottom: 100px; */
  width: 250px;
  transform: rotate(90deg);
  box-shadow: 2px 5px #aaaaaa;

}
.tagline{
    font-style: italic;
}
    
}
.ux-folio-link{
    width: 100px;
    height: 100px;
    text-align: center;  
}

.linkedin-link{
    text-decoration: none;
    color: blue;
}

.email-link{
    text-decoration: none;
    color: blue;
}

.case-studies{
    border: 1px solid black;
    border-radius: 16px;
    text-decoration: underline;
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    width: 500px;
    height:200px;
    box-sizing: border-box;
    margin:4px;
}

.ui-designs{
    border: 1px solid black;
    border-radius: 16px;
    text-decoration: underline;
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    width: 500px;
    height:200px;
    box-sizing: border-box;
    margin:4px;

.something-else{
    border: 1px solid black;
    border-radius: 16px;
    text-decoration: underline;
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    width: 500px;
    height:200px;
    box-sizing: border-box;
    margin:4px;    
}
.no-line-break{
    margin: 0px;
}