@font-face {
  font-family: "New York";
  src: url("./NewYorkMedium-Medium.otf");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SF-Pro-Display-Medium.otf");
}

*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: "SF Pro Display";
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  /* margin-top: 28px; */
  flex-direction: column;
  align-items: center;
}

header > h1 {
  font-family: "SF Pro Display";
  font-size: 18px;
  position: fixed;
  right: 24px;
  top: 16px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  color: darkgrey;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  /* margin-top: 56px; */
  margin-bottom: 4px;
  padding: 8px;
}

header {
  background-color: white;
  width: 100%;
  height: 3.5rem;
  text-align: center;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 999;
}

.nav-toggle {
  display: none;
}

nav {
  width: 8rem;
  height: fit-content;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: none;
}

.nav-li {
  margin-bottom: 4px;
  padding: 8px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav li {
  font-family: "SF Pro Display";
  margin: 8px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-decoration: uppercase;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  height: 2px;
  width: 2em;
  background: black;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 9px;
}

.nav-toggle-label span::after {
  top: 9px;
}

.screen-wrapper {
  text-align: center;
  background-color: #ffffff;
  /* border: 1px solid #d6d9dc; */
  border-radius: 3px;
  width: 100%
  margin: 56px 0px 4px 4px;
  padding: 48px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.screen-wrapper h1 {
  font-size: 30px;
  margin-bottom: 16px;
  font-family: "SF Pro Display";
}

.card-wrapper {
  font-family: "New York";
  font-size: 16px;
}

.form-wrapper {
  margin-bottom: 56px;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid #d6d9dc; */
  width: 80%;
  align-items: center;
  padding: 16px;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="email"],
.form-wrapper select,
.form-wrapper textarea {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 8px;
  margin: 4px;
  font-size: 14px;
}


.form-wapper label {
  margin-bottom: 15px;
}

.form-wrapper input[type="text"]:invalid,
.form-wrapper input[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

.menu-row {
  width: 100%;
  font-size: 14px;
  -webkit-appearance: none;
}

#comments {
  font-family: "SF Pro Display";
  font-weight: 500;
  width: 100%;
  color: #000000;
}

.contact-row {
  width: 100%;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.field{
  padding-top: 8px;
  padding-bottom: 8px;
}

.contact-row textarea {
  font-family: "SF Pro Display";
  font-size: 14px;
  width: fit-content;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.contact-row button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF Pro Display";
  font-size: 16px;
  /* font-weight: bold; */
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 0.5rem;
  padding: 10px;
  cursor: pointer;
}

#comments{
  font-family: "SF Pro Display";
  font-size: 16px;
}

.contact-row button:hover {
  background-color: #343434;
}

.contact-row button:active {
  background-color: white;
  color: #000000;
}

@media (min-width: 599px) {
  .nav-toggle-label {
    display: none;
  }

  nav {
    color: darkgrey;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 56px;
    border: none;
    display: inline-block;
  }

  header > h1 {
    color: #6d6d6d;
    height: 0px;
  }

  header {
    height: 0;
  }

  .nav-links {
    display: flex;
    color: darkgrey;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 56px;
    top: 3.5rem;
  }

  li > a {
    color: black;
  }

  li > a:hover {
    color: white;
    background-color: black;
  }

  .content {
    height: 40vh;
    padding: 1rem;
  }
  .screen-wrapper,
  .card-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .form-wrapper {
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-wrapper label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
  }
  .contact-row .instructions,
  .contact-row button {
    margin-left: 120px;
  }
}
