@font-face {
  font-family: "New York";
  src: url("./NewYorkMedium-Medium.otf");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SF-Pro-Display-Medium.otf");
}

*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
}

body {
  color: #000000;
  background-color: white;
  font-family: "SF Pro Display";
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: white;
  width: 100%;
  height: 3.5rem;
  justify-content: center;
  text-align: right;
  position: sticky;
  z-index: 999;
}

header > h1 {
  font-family: "SF Pro Display";
  font-size: 18px;
  margin-left: auto;
  margin-right: 24px;
  /* margin-top: 28px; */
}

.nav-toggle {
  display: none;
}

nav {
  width: 8rem;
  height: fit-content;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: none;
}

nav ul {
  margin-bottom: 4px;
  padding: 8px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav li {
  font-family: "SF Pro Display";
  margin: 8px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-decoration: uppercase;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  height: 2px;
  width: 2em;
  background: black;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 9px;
}

.nav-toggle-label span::after {
  top: 9px;
}

.work-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 16px;
  margin-top: 90px;
}

.category {
  font-family: "New York";
  font-weight: 300;
  text-decoration: underline;
  line-height: 1.5rem;
}

.company-name {
  font-weight: 800;
  line-height: 1.5rem;
}

.dates {
  font-weight: 100;
  font-style: italic;
  line-height: 1.5rem;
}

.position {
  font-weight: 700;
  line-height: 1.5rem;
}

@media (min-width: 599px) {
  .nav-toggle-label {
    display: none;
  }

  nav {
    color: darkgrey;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 56px;
    border: none;
    display: inline-block;
  }

  header > h1 {
    color: #6d6d6d;
    height: 0px;
  }

  header {
    height: 0;
  }

  .nav-links {
    display: flex;
    color: darkgrey;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 56px;
    top: 0;
  }

  li > a {
    color: black;
  }

  li > a:hover {
    color: white;
    background-color: black;
  }

  @media (min-width: 1100px) {
    header {
      width: 1200px;
    }

    .work-container {
      width: 1000px;
      height: fit-content;
      display: flex;
      justify-content: center;
      /* align-items: center; */
      padding: 16px;
    }
  }
}
