@font-face {
  font-family: "New York";
  src: url("./NewYorkMedium-Medium.otf");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SF-Pro-Display-Medium.otf");
}

*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
}
body {
  color: #000000;
  background-color: white;
  font-family: "SF Pro Display";
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: white;
  width: 100%;
  height: 3.5rem;
  justify-content: center;
  text-align: right;
  position: sticky;
  z-index: 999;
}

header > h1 {
  font-family: "SF Pro Display";
  font-size: 18px;
  position: absolute;
  right: 24px;
  top: 18px;
}

.nav-toggle {
  display: none;
}

nav {
  width: 8rem;
  height: fit-content;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: none;
}

nav ul {
  margin-bottom: 4px;
  padding: 8px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav li {
  font-family: "SF Pro Display";
  margin: 8px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-decoration: uppercase;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  height: 2px;
  width: 2em;
  background: black;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 9px;
}

.nav-toggle-label span::after {
  top: 9px;
}

.my-work {
  margin: 16px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: fit-content;
  margin-right: 24px;
  margin-left: 16px;
}

.card {
  background-color: white;
  width: 100%;
  height: fit-content;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifs;
  padding: 2px 16px;
}

.card-text {
  height: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

a {
  position: relative;
  height: auto;
  margin: 0px;
  text-align: justify;
  font-family: arial;
  font-weight: 50;
  text-decoration: none;
}

.text-overlay {
  height: 150%;
  width: auto;
  position: absolute;
  bottom: 2px;
  left: 0px;
  background-color: gray;
  color: white;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  padding: 3px;
}

@media (min-width: 400px) {
  .nav-toggle-label {
    display: none;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
  li {
    margin-right: 10px;
  }
  ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  header {
    display: flex;
  }
}

@media (min-width: 600px) and (max-width: 1049px) {
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    flex: 0 1 calc(50% - 1em);
    background-color: white;
    height: fit-content;
    margin: 8px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }

  .avatar {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }

  .card-text {
    height: 10vh;
    overflow: hidden;
  }
}

@media (min-width: 1050px) {
  html {
    /* width: 1000px; */
    height: auto;
    margin: 0px;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    height: auto;
    margin: 4px;
    margin-right: 8px;
  }

  .card {
    flex: flex;
    background-color: white;
    width: 400px;
    height: 33vh;
    margin: 8px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }
}
